<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="../scripts/index.js" type="module" defer></script>

    <title>Frontend Mentor | Expenses chart component</title>
  </head>
  <body>
    <div class="balance">
      <p class="balance__title">My balance</p>
      <strong class="balance__input"> $921.48 </strong>
      <img src="../images/logo.svg" alt="logo balance" class="balance__img" />
    </div>
    <div class="spending">
      <h1 class="spending__title">Spending - Last 7 days</h1>

      <div class="spending__wrapper-grafic">
        <div class="spending__week-days">
          <span class="spending__mon-day"> </span>
          <p class="mon">mon</p>
        </div>
        <div class="spending__week-days">
          <span class="spending__tue-day"> </span>
          <p class="tue">tue</p>
        </div>
        <div class="spending__week-days">
          <span class="spending__wed-day"> </span>
          <p class="wed">wed</p>
        </div>
        <div class="spending__week-days">
          <span class="spending__thu-day"> </span>
          <p class="thu">thu</p>
        </div>
        <div class="spending__week-days">
          <span class="spending__fri-day"> </span>
          <p class="fri">fri</p>
        </div>
        <div class="spending__week-days">
          <span class="spending__sat-day"> </span>
          <p class="sat">sat</p>
        </div>
        <div class="spending__week-days">
          <span class="spending__sun-day"> </span>
          <p class="sun">sun</p>
        </div>
      </div>
      <div class="spending__total-month">
        <p class="total">Total this month</p>
        <strong class="amount"> $478.33</strong>
        <p class="porcent">+2.4%</p>
        <p class="description">from last month</p>
      </div>
    </div>
  </body>
</html>
